
.press-button {
    background-color: #28a4c9;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 -0.2em 0 hsla(0,0%,100%,.1),
                inset 0 -0.25em 0 hsla(0,0%,0%,.25),
                0 0.25em 0.25em hsla(0,0%,0%,.05);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 .5em 1em;
    padding: .5em 1.5em .75em;
    text-decoration: none;
}

.press-button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 0.25em 0.5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
}


.button-nav-auth {
    --color: #40A4FF;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button-nav-auth::before, .button-nav-auth::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button-nav-auth::before {
    top: -1em;
    left: -1em;
   }
   
   .button-nav-auth::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button-nav-auth:hover::before, .button-nav-auth:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button-nav-auth:hover {
    color: rgb(10, 25, 30);
   }
   
   .button-nav-auth:active {
    filter: brightness(.8);
   }
   