#profile-dashboard {
  margin-top: 15vh;
  .container {
    .profile-details {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      padding: 10px 15px;
      .profilecont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .ava {
          display: flex;
          align-items: center;
          img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
          }
          h4 {
            margin-left: 10px;
            font-size: 22px;
          }
        }
        .profile-info {
          font-size: 16px;
        }
        .profile-info span {
          font-weight: bold;
          margin-top: 10px;
        }
        .profile-info ul li {
          margin-top: 5px;
        }
      }

      .bottom-part {
        div {
          div {
            display: inline;
          }
          margin: 10px 0px;
          label {
            font-size: 16px;
            display: inline-block;
            width: 15%;
          }

          input {
            font-size: 16px;
            padding: 5px;
            border: none;
            border-bottom: solid rgb(6, 116, 180) 1px;
            &:focus {
              outline: none;
            }
          }
          button {
            background-color: rgb(6, 116, 180);
            border: none;
            padding: 7px;
            cursor: pointer;

            i {
              color: white;
            }
          }
        }

        .leetcode-codeforces {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 20px;
          grid-row-gap: 0px;
          .leetcode-details {
            font-size: 12px;
          }

          .codeforces-details {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #profile-dashboard {
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  #profile-dashboard {
    .container {
      .profile-details {
        .profilecont {
          flex-direction: column;
          .ava {
            flex-direction: column;
            margin-bottom: 10px;
          }
        }

        .bottom-part {
          div {
            label {
              display: block;
              width: 100%;
            }
          }

          .leetcode-codeforces {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 10px;
          }
        }
      }
    }
  }
}
