#leaderboard-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    .user-name{
        h2{
            font-size: 16px;
            font-weight: 500;
        }
    }

    .user-ratings{
        display: flex;
        width: 40%;
        justify-content: space-between;
        p{
            font-size: 16px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width:576px) {
    #leaderboard-card{

        .user-ratings{

            justify-content: flex-end;
            p{
                display: none;
            }
            .over-rating{
                display: inline;
                justify-self: flex-end;
            }
        }
    }
}