#feedCard-section {
  margin: 10px;
  display: inline-block;
  width: 100%;
  .card {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 13px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .details {
      margin: 10px;
      h2 {
        font-weight: 600;
        font-size: 20px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
      }
    }

    .rating-controls {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      button {
        padding: 5px 0px;
        width: 18%;
        cursor: pointer;
        font-size: 14px;
      }

      .thumbs-up {
        background-color: transparent;
        border: solid rgb(41, 138, 41) 2px;
        color: rgb(41, 138, 41);
        border-radius: 4px;
        transition: background-color 0.5s;

        &:hover {
          background-color: rgb(41, 138, 41);
          color: white;
        }
      }

      .thumbs-down {
        background-color: transparent;
        border: solid rgb(255, 81, 81) 2px;
        color: rgb(255, 81, 81);
        border-radius: 4px;
        transition: background-color 0.5s;

        &:hover {
          background-color: rgb(255, 81, 81);
          color: white;
        }
      }

      .add-friend-btn {
        background-color: transparent;
        border: solid rgb(14, 133, 212) 2px;
        color: rgb(14, 133, 212);
        border-radius: 4px;
        transition: background-color 0.5s;

        &:hover {
          background-color: rgb(14, 133, 212);
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #feedCard-section {
    width: 47%;
    padding: 0;
  }
}

@media only screen and (max-width: 435px) {
  #feedCard-section {
    width: 100%;
  }
}
